{% extends 'base.twig' %}

{% block title %}Create{% endblock %}

{% block content %}
    <form id="formDisplay">
        <input type="radio" name="form" value="actor" checked> Actor
        <input type="radio" name="form" value="movie"> Movie
    </form>
    <br>

    <form action="index.php" id="actorForm" method="post" enctype="multipart/form-data">
        <input type="hidden" name="action" value="createActor" />
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Actor's full name" required>
        </div>
        <div class="form-group">
            <label for="photo_url">Photo</label>
            <input type="file" accept="image/*" class="form-control" id="photo" name="photo" placeholder="Actor's photo">
        </div>
        <div class="form-group">
            <label for="bio">Bio</label>
            <textarea class="form-control" id="bio" name="bio" rows="5" placeholder="Something about the actor..."></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>

    <form id="movieForm" method="get">

    </form>
{% endblock %}

{% block javascript %}
    <script src="js\create.js"></script>
{% endblock %}
