{% extends 'base.twig' %}
{% import 'listMacros.twig' as listMacros %}

{% block title %}Home{% endblock %}

{% block css %}
    {{ listMacros.css() }}
{% endblock %}

{% block content %}
<a href="?page=movieList">
    <h1>Movies</h1>
</a>
{{ listMacros.list(movies, 'movie') }}

<hr />

<a href="?page=actorList">
    <h1>Actors</h1>
</a>
{{ listMacros.list(actors, 'actor') }}

{% endblock %}
{% block javascript %}
    {{ listMacros.javascript() }}
{% endblock %}
