{% extends 'base.twig' %}

{% block title %}List of {{itemType}}s{% endblock %}
{% block css %}{% endblock %}

{% block content %}
    <ul class="list-group">
        {% for item in list %}
            <li class="list-group-item">
                {% set link = '?page=' ~ itemType ~ '&id=' ~ item.id %}    
                {% set posterVars = {'imgSrc' : item.image, 'link' : link} %}
                {% include 'posterView.twig' with posterVars only %}
                <a href="{{ link }}">{{item.name}}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}


{% block javascript %}
{% endblock %}
