<a href="{{link}}">
    <div class="posterParent shadow hoverable" style="background-image: url('{{ imgSrc | default('images/not_found.jpeg') }}')">
        <div class="img-overlay">
            <h3>{{ name }}</h3>
        </div>
    </div>
</a>
