{% if imgSrc is empty %}
    {% set imgSrc = 'images/not_found.jpeg' %}
{% endif %}

<a href="{{link}}">
    <div class="posterParent shadow hoverable" style="background-image: url('{{ imgSrc }}')">
        <div class="img-overlay">
            <h3>{{ name }}</h3>
        </div>
    </div>
</a>
