{% extends 'base.twig' %}

{% block title %}Users{% endblock %}

{% block css %}
    <link rel="stylesheet" href="css\users.css">
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Username</th>
              <th scope="col">Admin</th>
              <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                  <th scope="row">{{user.id}}</th>
                  <td>{{user.name}}</td>
                  <td>
                      <i onclick="toggleAdmin({{user.id}})" class="fas fa-2x fa-toggle-on {% if user.content_admin == 0 %}fa-flip-horizontal{% endif %}"></i>
                  </td>
                  <td>
                      <button class="btn" onclick="deleteUser({{user.id}})"><i class="fas fa-trash-alt"></i></button>
                  </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    <script src="js/users.js"></script>
{% endblock %}
